<configuration>
	<property name="LOG_DIR" value="${EXTERNAL_STORAGE}/Android/data/com.zcy.ghost.vivideo/.logs"/>

	<appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
		<tagEncoder>
			<pattern>%logger{0}</pattern>
		</tagEncoder>
		<encoder>
			<pattern>[%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{ISO8601} [%thread] %-5level %class{5}:%line - %msg%n</pattern>
			<!--<pattern>%d{HH:mm:ss} [%thread] [%.-1level] - %msg %n</pattern>-->
		</encoder>
		<file>${LOG_DIR}/run.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/run.%d{yyyy-MM-dd}_%d{HHmmss}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP" >
				<MaxFileSize>64MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!--<root level="ERROR" >-->
	    <!--<appender-ref ref="FILE" />-->
	<!--</root>-->

	<root level="DEBUG">
        <appender-ref ref="LOGCAT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
